*{
    margin: auto;
    padding: 0%;
}

nav{
    background: #011126;
    border: 2px solid #074973;
    padding: 15px 5px;
}

a{
    color: white;
    text-decoration: none;
    font: normal italic 3vh 'georgia';
    padding: 12px 3vw;
    border-radius: 5px;
    transition: 0.5s;
}

a:hover{
    background-color: #074973;
    text-decoration: underline;
}

/* 





ul > li{
    display: inline-block;
}

ul > li:last-child{
    float: right;
}

p{
    text-align: justify;
    text-indent: 20px;
    font: normal normal;
    padding: 10px;
    margin: 2px;
}
*/

#estiloEquiv{
    color: #fff;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
    transition: 0.5s;
}

#estiloEquiv:hover{
    transform: scale(1.1);
}

a{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 120px;
}

ul > li{
    text-align: center;
    margin: 20px 70px;
    display: none;
}