*{
    margin: auto;
    padding: 0%;
}

nav{
    border: 2px solid #011C40;
    background: #011126;
    padding: 18px;
}

#estiloEquiv{
    cursor: pointer;
    display: none;
}

a{
    font: normal italic 3vh 'georgia';
    text-decoration: none;
    border-radius: 10px;
    color: #0a8bbe;
    padding: 10px;
    transition: 0.5s;
}

a:hover{
    background: #ecececb0;
}

@media screen and (min-width: 761px){
    
    ul > li{
        text-decoration: none;
        display: inline-block;
        padding: 0px 0.5vw;
    }
    
    ul > li:last-child{
        float: right;
    }
}

@media screen and (max-width: 760px){
    #estiloEquiv{
        cursor: pointer;
        display: block;
        color: #0a8bbe;
        font-size: 70px;
        text-align: center;
    }

    ul >li{
        display: none;
        text-align: center;
        margin: 10px;
    }
    a{
        padding: 10px 25vw;
    }
}