#container{
    background: blue;
    margin: auto;
    display: flex;
    flex-wrap: wrap-reverse;
}

.elemento-filho{
    flex: auto;
    flex-direction: column;
    background: white;
    padding: 20px;
    width: 80px;
    border: 2px solid black;
    text-align: center;
}

.elementoPaiJustfyContent{
    display: flex;
    flex-flow: row wrap-reverse;
    background: black;
}

.elementoPaiJustfyContent > div{
    color: white;
    background: blue;
    border: 2px solid red;
    width: 50px;
    height: 30px;
    padding: 20px 10px; 
}

#idContent1{
    justify-content: flex-start;
}

#idContent2{
    justify-content: flex-end;
}

#idContent3{
    justify-content: space-around;
}


#idContent4{
    justify-content: space-between;
}

#idContent5{
    justify-content: space-evenly;
}