#container{
    background: blue;
    margin: auto;
    display: flex;
    flex-wrap: wrap-reverse;
}

.elemento-filho{
    flex: auto;
    flex-direction: column;
    background: white;
    padding: 20px;
    width: 80px;
    border: 2px solid black;
    text-align: center;
}

.elementoPaiJustfyContent{
    display: flex;
    flex-flow: row wrap-reverse;
    background: black;
}

.elementoPaiJustfyContent > div{
    color: white;
    background: blue;
    border: 2px solid red;
    width: 50px;
    height: 30px;
    padding: 20px 10px; 
}

#idContent1{
    justify-content: flex-start;
}

#idContent2{
    justify-content: flex-end;
}

#idContent3{
    justify-content: space-around;
}


#idContent4{
    justify-content: space-between;
}

#idContent5{
    justify-content: space-evenly;
}

.Pai{
    display: flex;
    justify-content: center;
    background: black;
    height: 150px;

}

.Pai > div{
    color: white;
    background: blue;
    border: 2px solid red;
    width: 50px;
    height: 30px;
    padding: 20px 10px; 
}

.Container-Pai2{
    display: flex;
    flex-flow: row wrap-reverse;
    background: red;
    height: 400px;
    justify-content: flex-start;
    align-items: flex-end;
}

.Container-Pai2 > div{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    height: 40px;
}

#pai1{
    align-items: center;
}

#pai2{
    align-items: flex-start;
}

#pai3{
    align-items: flex-end;
}

#teste-pai-align-self{
    height: 400px;
    background: pink;
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start; /*permite que o height dos elementos-filhos não grudem no height do elemento pai*/
}
#teste-pai-align-self > div{
    border: 2px solid black;
    padding: 40px;
}


#teste-pai-flex-basis{
    height: 400px;
    background: pink;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#teste-pai-flex-basis > div{
    flex-basis: 90px;
    border: 2px solid black;
    padding: 40px;
}


