@charset 'UTF-8';

/* tela celular */

 @media screen and (max-width: 660px){
    body{
        background-image: url(../recursos/imgs/back-phone.jpg);
    }

    #estilo-tela1{
        display: block;
    }

    p::after{
        content: 'Tela de Celular';
    }
}

@media screen and (min-width: 661px) and (max-width: 992px){
    body{
        background-image: url(../recursos/imgs/back-tablet.jpg);
    }

    #estilo-tela2{
        display: block;
    }

    p::after{
        content: 'Tela de Tablet';
    }
}

@media screen and (min-width: 993px) and (max-width: 1300px){
    body{
        background-image: url(../recursos/imgs/back-pc.jpg);
    }

    #estilo-tela3{
        display: block;
    }

    p::after{
        content: 'Tela de Desktop';
    }
}


@media screen and (min-width: 1301px){
    body{
        background-image: url(../recursos/imgs/back-tv.jpg);
    }

    #estilo-tela4{
        display: block;
    }

    p{
        color: #0000007e;
    }

    p::after{
        content: 'Tela de Televisão';
    }
}