*{
    margin: auto;
    padding: 0%;
}

body{
    background-color: #011126;
    position: relative;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 320px;
    height: 80vh;

    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s;
}

#estilo-img-fundo{
    background: black url(../recursos/imgs/imagemform.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 15px;
    transition: 0.5s;
    height: 30%;
}

#estilo-img-fundo:hover{
    transform: scale(1.01);
}

form{
    max-width: 90%;
    height: 100%;
}

h1,legend{
    font: normal normal 4vh 'serif';
    text-indent: 20px;
    color: #18608C;
}

p{
    font: italic normal 20px 'arial';
    text-align: justify;
    text-indent: 20px;
}

fieldset{
    border: 1px solid #077f8cbe;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.material-symbols-outlined{
    vertical-align: middle;
    font-size: 30px;
    margin: 0px 0px 0px 5px;
    color: white;
}

label{
    padding: 4px 1px 7px 0px;
    vertical-align: bottom;
    border-radius: 5px;
    background: #18608C;
    line-height: 30px;
}

input{
    border: 0px;
    border-radius: 5px;
    padding: 4px;
}

#esqueceuSenha{
    font: normal normal 15px 'georgia';
    text-decoration: none;
    color: #18608C;
    line-height: 25px;
}

#esqueceuSenha:hover{
    text-decoration: underline;
    color: #03395a;
}

button{
    border: 1px solid #26A6A6;
    font: bold normal 15px 'arial';
    border-radius: 10px;
    text-align: center;
    color: #18608C;
    padding: 8px 0px;
    margin: 1% 10%;
    width: 80%;
}

#estiloEntrar{
    background-color: #26A6A6;
}

#estiloEntrar:active{
    background-color: #1d8b8b;
}

#estiloCriar{
    background-color: white;
}

#estiloCriar:active{
    background-color: #dbdbdb;
}

@media screen and (min-width: 760px) and (max-width: 950px){
    main{
        width: 750px;
    }
    h1, legend{
        font-size: 2em;
    }
    input{
        width: 60%;
        padding: 10px;
    }
    label{
        padding: 10px 1px 11px 0px;
        line-height: 40px;
    }
}

@media screen and (min-width: 951px){
    main{
        width: 940px;
        height: 420px;
    }

    #estilo-img-fundo{
        width: 30%;
        float: left;
        height: 100%;
    }

    form{
        position: absolute;
        top: 5%;
        left: 33%;
        float: right;
        width: 600px;
        overflow-y: auto;
    }
}