*{
    margin: auto;
    padding: 0%;
}

body{
    background: rgb(0, 16, 70);
    position: relative;
    height: 100vh;
}

main, form{
    transition: 0.4s;
}

main{
    background-color: rgba(166, 200, 252, 0.918);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow: hidden;
}

#fundoimg{
    background: black url(../recursos/imgs/imagemform.jpg) no-repeat center center;
    background-size: cover;
    box-shadow: inset 0 -50px 50px -30px #000000;
}

#fundoimg:hover{
    transform: scale(1.01);
}

form{
    text-align: center;
}

input{
    color: rgb(0, 141, 184);
}

@media screen and (max-width: 760px){

    main{
        width: 320px;
        height: 550px;
    }
    #fundoimg{
        height: 35%;
    }
}


@media screen and (min-width: 761px) and (max-width: 1000px) {
    
    body{
        background-image: linear-gradient(to top, blue, #0010a1, #0010a18a);
    }
    
    main{
        width: 700px;
        height: 550px;
    }
    #fundoimg{
        height: 35%;    
    }
}

@media screen and (min-width: 1001px){
    main{
        width: 900px;
        height: 550px;
    }
    #fundoimg{
        background: black url(../recursos/imgs/imagemform.jpg) no-repeat center center;
        background-size: cover;
        float: left;
        width: 30%;
        height: 100%;
    }
    form{
        width: 70%;
        height: 100%;
        float: right;
    }
    label, input{
        font: normal normal 2vh 'arial'
    }

}