@charset 'UTF-8';

@font-face {
    font-family: 'fonte-titulo';
    src: url('../recursos/fontes/fonte-titulo.ttf');
}

:root{
    --corfundobodypadrao: #459DBF;
    --estilodivformpadrao: #8BC3D9;
}

#estilo-div-form{
    background-color: var(--estilodivformpadrao);
    text-align: center;
    max-width: 500px;
    font: normal normal 3vh 'font-titulo';
    border-radius: 10px;
    padding: 50px 30px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.667);
    margin: 45px auto;
    box-shadow: 5px 5px 6px rgba(0, 11, 38, 0.396);
}

#paisagem{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    transition: 0.5s;
    border: 2px solid rgba(255, 255, 255, 0.418);
    color: #3d3c3c7b;
}

#paisagem:hover{
    transform: scale(1.1);
    filter: contrast(1.5);
}

#nome, #sexo, #idade, #email, #senha, #pais-origem, #estilo-botao{
    border: 2px solid rgba(0, 0, 255, 0.478);
    border-radius: 10px;
    width: 150px;
    height: 20px;
    background: #def5fe84;
    transition: 1s;
}

#pais-origem{
    width: 150px;
}

#nome:focus, #sexo:focus, #idade:focus, #email:focus, #senha:focus{
    border: 4px solid rgba(77, 255, 0, 0.478);
}

#estilo-botao{
    width: 250px;
    height: 50px;
    font: normal normal 1.5vw 'font-titulo';   
    color: rgba(0, 0, 255, 0.52);
    transition: 0.2s;
}

#estilo-botao:hover{   
    color: #0000ff95;
}
#estilo-botao:active{
    font: normal normal 3.5vh 'font-titulo';   
    color: #0000ff48;
    background: rgba(0, 255, 255, 0.364);
}

#estilo-borrado{
    filter: blur(5px);
}

#estilojs{
    padding: 2px;
    text-align: center;
    line-height: 20px;
}