@charset 'UTF-8';

*{
    margin: auto;
    padding: 0%;
}

:root{
    --corfundomain: #CEDAE4;
    --corfundodetails: #0C3874;
    --cor1letra: #CEDAE4;
    --cor2letra: #072149;
    --cor3letra: #062b63;
}

header{
    background-image: linear-gradient(180deg, #0C3874, #000310);
    padding: 10px 0px 100px 0px;
}

header > h1{
    transition: 0.5s;
    text-align: center;
    font: normal normal 8vh georgia;
    color: var(--cor1letra);
}


main{
    max-width: 1000px;
    background: var(--corfundomain);
}

details{
    background-image: linear-gradient(180deg, #0C3874, #000310);
    padding: 25px 15px;
    margin: auto;
    max-width: 85%;
    border-radius: 15px;
    font: normal bold 5vh georgia;
    color: var(--cor1letra);
    border: 2px solid #072149;
}

section{
    background: #cedae4ec;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    color: var(--cor2letra);
    font: normal normal 2vh 'Arial';
}

section > h1{
    font: italic lighter 4vh 'georgia';
    color: #0C3874;
}

.icone-js{
    width: 25px;
    vertical-align: middle;
    transition: 1s;
}

.icone-js:hover{
    transform: translateY(-4px);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.116));
}

.fonte-code{
    color: rgba(1, 80, 1, 0.623);
    font: normal bold 1em 'Courier New';
}

footer{
    background-image: linear-gradient(180deg, #0C3874, #000310);
    padding: 50px 0px 50px 0px;
    text-align: center;
}

figure >  img{
    width: 20em;
    border-radius: 50%;
    filter: drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.644));
    transition: 1s;
}

figure >  img:hover{
    transform: translateY(-10px);
}

figure{
    text-align: center;
}

figure > figcaption{
    font: normal normal 3em monospace;
    color: rgba(55, 182, 255, 0.514);
}

footer > #modelo-span1{
    font: normal normal 3em monospace;
    color: var(--cor1letra);
}

footer > #modelo-span2{
    font: normal normal 2em georgia;
    color: var(--cor1letra);
}

footer, #modelo-span1, #modelo-span2, footer > figure > img{
    transition: 0.5s;
} 

#modelo-span2{
    letter-spacing: 1vw;
}

.modelo-lista-indicador{
    list-style: '✔' inside;
    text-align: justify;
}

/* se a tela ficar menor que 850px vai ficar assim: */
@media (max-width: 850px){ 
    header > h1, header{
        font-size: 6vw;
        transition: 0.5s;
    }
    figure > figcaption{
        font-size: 4vw;
        transition: 0.5s;
    }

    figure > img{
        width: 35vw;
        transition: 0.5s;
    }

    footer > #modelo-span1, footer > #modelo-span2, details{
        font-size: 4vw;
        transition: 0.5s;
    }

    details{
        font-size: 5vw;
        transition: 0.5s;
    }

    section > h1{
        font-size: 4vw;
        transition: 0.5s;
    }
}

a{
    color: var(--cor3letra);
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    background: var(--corfundomain);
    color: black;
    text-decoration: underline;
    transition: 0.5s;
}